@using MudBlazor.Utilities
@using ConversationalSearchPlatform.BackOffice.Components.Layout.Helper
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager 

<div class="page">
    <MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme"/>
    <MudDialogProvider
        FullWidth="true"
        MaxWidth="MaxWidth.ExtraSmall"
        CloseButton="true"
        DisableBackdropClick="true"
        NoHeader="true"
        Position="DialogPosition.Center"
        CloseOnEscapeKey="true"/>
    <MudSnackbarProvider/>
    <MudLayout>
        @if (ShouldShowNavMenu)
        {
            <MudDrawer @bind-Open="@_drawerOpen">
                <NavMenu/>
            </MudDrawer>
        }
        <MudMainContent>
            <ErrorBoundary>
                <MudContainer MaxWidth="MaxWidth.ExtraLarge">
                    @Body
                </MudContainer>
            </ErrorBoundary>
        </MudMainContent>
    </MudLayout>


</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    private bool ShouldShowNavMenu { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        ShouldShowNavMenu = DemoHelper.DetermineNavbarVisible(authState);


        var currentPath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        if (DemoHelper.ShouldNavigateToDemoPage(ShouldShowNavMenu, currentPath))
        {
            NavigationManager.NavigateTo("/demo");
        }
    }

    private bool _isDarkMode = true;
    bool _drawerOpen = true;

    private readonly MudTheme _theme = new()
    {
        Palette =
        {
            Primary = new MudColor(220, 200, 194, 1),
            Dark = new MudColor(52, 53, 65, 1),
        },
        LayoutProperties =
        {
            DefaultBorderRadius = "8px",
        }
    };
}