@using Microsoft.AspNetCore.Identity
@using ConversationalSearchPlatform.BackOffice.Data
@using ConversationalSearchPlatform.BackOffice.Identity
@using Microsoft.AspNetCore.Antiforgery
@using Microsoft.AspNetCore.Mvc

@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [IgnoreAntiforgeryToken]

<form @onsubmit="OnSubmit" @formname="logout" method="post" @attributes="AdditionalAttributes">
    <input type="hidden" name="ReturnUrl" value="@NavigationManager.Uri"/>
    <AntiforgeryToken/>
</form>

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object?>? AdditionalAttributes { get; set; }

    [SupplyParameterFromForm]
    private string? ReturnUrl { get; set; }

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private async Task OnSubmit()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = state.User;
        if (SignInManager.IsSignedIn(user))
        {
            RedirectManager.RedirectTo("/logout");
        }
    }

}